.mooday_members_container {
    text-align: center;
}

.mooday_members {
    margin: 2.1875rem;
}


/* =======================================
                Media Query 
   =======================================*/

@media only screen and (min-width: 834px) {    

    .mooday_members_container {
        display: flex;
    }
    .mooday_members {
        width: 93.75rem;
        flex-basis: 25%;
    }

}

@media only screen and (min-width: 1080px) {



}