
.details_heading {
    padding-block: 3rem;
    line-height: 1.8;
}

.art_sections {
    /* top | right | bottom | left */
    padding: 2.9375rem 3.4375rem 4.375rem 3.4375rem ;
}

.artifact-overview {
    position: relative;
}

.artifact-overview::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translate(-25px, -25px);
    top: 0;
}

.intro_space {
    width: 327px;
}

.art_space, .intro_space {
    /* padding-inline: 2rem; */
    padding-block: 2rem;
    margin: auto;
}

.c4_arti_logo {
    width: 2.75rem;
}

.c4_choco_creami {
    width: 9.5rem;
    height: 9.5rem;
    background-color: #92adb8;
    border-radius: 50%;
}

.top_content_intro {
    margin: 2rem 0;
}

.art_space {
    margin-top: 2rem;
}

.c4_logo {
    width: 18.75rem;
}

.c4_characters {
    margin: auto;
}

.c4_characters img {
    width: 13rem;
}

.characters {
    width: 11.75rem;
    line-height: 1.8;
}

.characters h4 {
    font-family: var(--heading);
    font-weight: 800;
}

.characters h4, .characters p {
    margin-top: 15px;
}

.c4_container {
    align-items: center;
    margin: auto;
}

.c4_color, .c4_color_content {
    margin: 0 auto;
}

.c4_color img {
    display: block;
    margin: 0 auto;
    width: 21.875rem;
}

.c4_color_content {
    width: 21.875rem;
    padding: 3.125rem;
    border-radius: 3.75rem;
    line-height: 1.6;
}

.c4_art_container {
    margin: auto;
    height: auto;
    overflow: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.c4_art_container img {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0 1.25rem;
    border-radius: 1.875rem;
}

/* btn */
.pre-btn,
.next-btn {
  border: none;
  background-color: #fff;
}

.pre-btn img,
.next-btn img {
    width: 2.1875rem;
    height: auto;
}


/* =======================================
                Media Query 
   =======================================*/

@media only screen and (min-width: 834px) {    

        .intro_space {
            width: 47.5rem;
        }
    
        .c4_choco_creami {
            width: 15.625rem;
            height: 15.625rem;
        }
    
        .characters {
            width: 18.75rem;
        }

        .c4_color, .c4_color_content {
            margin: auto;
        }

    }

@media only screen and (min-width: 1080px) {

    .top_container {
        display: flex;
        margin: auto;
    }

    .arti_hero_bg, .top_content {
        flex-basis: 50%;
    }

    .top_content {
        line-height: 2.0;
        margin: auto;
    }

    .c4_color_content {
        width: 26.875rem;
    }

}