
.projects_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    margin: auto;
    margin-top: 2.8125rem;
}

/* Filter */
.filter ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2.0625rem 0;
}

.filter ul li {
    background-color: var(--bgYellow);
    padding: 0.3125rem 0.9375rem;
    border-radius: 2.0625rem;
    cursor: pointer;
}

.filter ul li.active {
    background-color: var(--pink);
    color: #fff;
}

.filter ul li:hover {
    background-color: var(--bgPink);
}

/* Card */
.cards {
    width: 22.4375rem;
    height: 25.9375rem;
    border-radius: 1.625rem;
    border: 1px solid #D6DFED;
    background-color: #FFFDEF;
    grid-column: auto / span 12;
    margin: auto;
}

.cards img {
    width: 20.25rem;
    height: 13.875rem;
    border-radius: 1.625rem;
    position: relative;
    top: 0.8125rem;
    left: 1.125rem;
    object-fit: cover;
}

.cards img:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

.project_content {
    padding: 1.5rem 1.375rem;
    justify-content: center;
    line-height: 1.5;
}

.project_content p {
    margin-bottom: 0.75rem;
}

/* Filter tags */
.tags {
    font-size: 0.875rem;
    padding: 0.1875rem 0.8125rem;
    color: var(--btnFontColor);
    background: #F1D5D5;
    border: 1px solid #EAB3B3;
    border-radius: 2rem;
}


/* =======================================
                Media Query 
   =======================================*/

   @media only screen and (min-width: 834px){
        .cards {
            grid-column: auto / span 6;
        }

        .projects_container {
            max-width: 50rem;
        }

        .project_content h2, .project_content h4, .project_content p {
            font-size: revert;
        }
   }
   
   
   @media only screen and (min-width: 1080px){
    .cards {
        grid-column: auto / span 4;
    }

    .projects_container {
        max-width: 75rem;
    }
   }