/* ============= Header & Footer ============= */
header, footer {
    color: var(--fontColorOnHeader);
}

header {
   font-size: 1rem;
}

/* Header */

.site-header__wrapper {
   max-width: 90%;
   height: 6rem;
   margin: 0 auto;
   padding: 0 1rem;
   justify-content: space-between;
}

/*  header - logo */

.site-header__logo img {
   position: relative;
   width: 3.125rem;
}

/* nav menu */

.site-header__menu {
   overflow: hidden;
   position: absolute;
   padding: 0 1rem;
   display: none;
   z-index: 11;
}

.site-header__menu.active {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--bgYellow);
   padding-top: 6.25rem;
   transition:  0.3s;
}

.nav_menu_ul {
  display: block;
  margin-top: 150px;
}

/* menu items  */

.nav_menu_ul li {
   margin: 50px 0;
   font-size: 28px;
}

/* header - hamburger icon */

.site-header__menu-icon {
   display: block;
   cursor: pointer;
}

.site-header__menu a {
   color: var(--fontColorOnHeader);
}

/* header - close btn */

.close-btn {
   display: flex;
   justify-content: end;
   margin: 1.875rem;
}


/* hamburger icon */
.hamburger {
   display: block;
   cursor: pointer;
   position: relative;
   z-index: 111;
}

.hamburger.active .bar:nth-child(2) {
   opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
   margin: 16px 0;
}

.nav-menu.active {
   left: 0;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: var(--blue);
}


/*  Footer  */

Footer {
   width: auto;
   height: 10.563rem;
   font-size: 0.9rem;
   text-align: center;
}

.footer_sm {
   padding: 2rem;
   gap: 0.7rem;
}

.footer_sm img {
   width: 1.5rem;
}


@media only screen and (min-width: 834px) {

   .section_wrap {
      height: 43.75rem;
    }

}

@media only screen and (min-width: 1080px) {

   .section_wrap {
      height: 50rem;
    }

    .site-header__menu-icon img {
        display: none;
    }
    
    .site-header__menu {
        display: block;
        height: auto !important;
        position: static;
        width: auto;
        top: unset ;
        left: unset;
        padding: unset;  
    }
    
    .site-header__menu ul {
        border-radius: unset;
        background-color: unset;
        display: flex;
        gap: 2rem;
        margin-top: 0;
    }
    
    .site-header__menu a {
        font-size: 1.375rem;
    }
    
    .site-header__menu a:hover {
        text-decoration: underline;
        transition: 0.3s ease-in-out;
        color: var(--pink);
    }
    
    .close-btn {
        display: none;
    }

    .hamburger {
      display: none;
    }
}