/* ============= Home Page ============= */

/* Hero Section */
.home_wrap {
    margin: 0.625rem 0;
}

.home_wrap_text {
    margin: auto;
    width: fit-content;
    padding-top: 50px;
    /* position: relative; */
}

.home_wrap_text h1 {
    font-size: 3rem;
}

.home_wrap_text p {
    font-size: 1.375rem;
}

.home_wrap .is-blue {
    color: var(--blue);
}


.home_hi img {
    width: 35.5625rem;
}

/* Work */
.homepage_work {
    margin: 0 auto 4rem;
}

.homepage_work_wrap {
    margin: 0 auto;
    width: fit-content;
}

.home_work_h2 {
    padding: 4.0625rem;
}

.home_works img {
    width: 21.875rem;
    height: 20.1875rem;
    object-fit: cover;
    border-radius: 15%;
}

.home_content {
    padding-top: 1rem;
    padding-bottom: 2rem;
    line-height: 1.5;
}


/* =======================================
                Media Query 
   =======================================*/

@media only screen and (min-width: 820px) {

    /* Hero section */
    .home_wrap {
        width: 80%;
        display: flex;
        margin: 0 auto;
    }

    .home_wrap_text {
        flex-basis: 70%;
    }

    .home_wrap_text h1 {
        font-size: 4rem;
    }

    .home_wrap_text p {
        font-size: 1.875rem;
    }

    .home_hi {
        flex-basis: 30%;
    }

    .home_hi img {
        width: 40.625rem;
        grid-column: 9 / span 2;
    }

    .homepage_work_wrap {
        margin: 0 auto;
        width: fit-content;
    }

}