/* ============= Home Page ============= */

/* Hero Section */
.home_wrap {
    margin: auto;
    display: table;
}

.home_wrap_text {
    margin: 1.5625rem;
    padding-top: 2.0625rem;
    
}

.home_wrap_text h1 {
    font-size: 3rem;
}

.home_wrap .is-blue {
    color: var(--blue);
}

.home_hi img {
    width: 23.5625rem;
}

/* Work */
.homepage_work {
    margin: 0 auto 4rem;
}

.homepage_work_wrap {
    margin: 0 auto;
    width: fit-content;
}

.home_work_h2 {
    padding: 4.0625rem;
}

.home_works img {
    width: 22.5625rem;
    height: 18.125rem;
    object-fit: cover;
}

.home_content {
    padding-top: 0.7rem;
    padding-bottom: 2rem;
    line-height: 1.5;
}


/* =======================================
                Media Query 
   =======================================*/

@media only screen and (min-width: 834px) {

    /* Hero section */
    .home_wrap {
        width: 80%;
        display: flex;
        margin-top: 2.75rem;
    }

     .home_wrap_text {
        flex-basis: 50%;
    }

    .home_hi {
        flex-basis: 50%;
    }

    .home_wrap_text h1 {
        font-size: 3.2rem;
        margin-top: 0.625rem;
    }

    .home_wrap_text p {
        font-size: 1.375rem;
    }

    .home_hi img {
        width: 40.625rem;
    }

    .homepage_work_wrap {
        margin: 0 auto;
        width: fit-content;
    }

    .home_works img {
    width: 26.6875rem;
    height: 22.375rem;
    
}

}

@media only screen and (min-width: 1080px) {
    .home_wrap_text h1 {
        font-size: 4rem;
        margin-top: 3.9375rem;
    }

}