@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../styles/header.css);
@import url(../styles/footer.css);
@import url(../styles/home.css);
@import url(../styles/page.css);
@import url(../styles/about.css);

/* ============= Root =============  */
:root {
    /* font style */
    --font: "Poppins", serif;
   
    /* /main colors */
    --blue: #295976;
    --shilo: #DF8A8A;
    --brightBlue: #3366FF;
    --brightBlue-100: #D9E5FF;
    --text: #434343;
    --grey: #F5F5F5;
}

/* ============= Global  ============= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    max-width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--text);
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/* ============= Typography ============= */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
}

h1, .h1 { font-size: 40px; font-weight: 700;}
h2, .h2 { font-size: 30px; font-weight: 600;}
h3, .h3 { font-size: 24px; font-weight: 600;}
h4, .h4 { font-size: 20px; font-weight: 600;}
h5, .h5 { font-size: 18px; font-weight: 600;}
/* h6, .h6 { font-size: 18px; font-weight: 600;} */

p, .p { font-size: 16px; font-weight: 300;}
.p-bold { font-weight: 600;}
.quotes { font-size: 20px; font-weight: 300;}
.tags-text { font-size: 14px; font-weight: 300;}

/* ============= Color-realted ============= */

.blue { color: var(--blue);}
.shilo { color: var(--shilo);}
.brightBlue { color: var(--brightBlue);}
.text { color: var(--text);}

/* ============= Layout ============= */
.section-gap {
    margin: 3.75rem 0;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}

.is-flex {
    display: block;
}

.is-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

/* Align */
.text-align {text-align: center;}
.align-center {align-items: center;}
.justi-cen {justify-content: center;}

/* gird - column */
.col-1-sm { grid-column: span 1; }
.col-2-sm { grid-column: span 2; }
.col-3-sm { grid-column: span 3; }
.col-4-sm { grid-column: span 4; }
.col-5-sm { grid-column: span 5; }
.col-6-sm { grid-column: span 6; }
.col-7-sm { grid-column: span 7; }
.col-8-sm { grid-column: span 8; }
.col-9-sm { grid-column: span 9; }
.col-10-sm { grid-column: span 10; }
.col-11-sm { grid-column: span 11; }
.col-12-sm { grid-column: span 12; }

/* ============= global spacing ============= */
.mb-24 { margin-bottom: 24px;}
.mb-36 { margin-bottom: 36px;}
.mb-48 { margin-bottom: 48px;}

.mt-48 { margin-top: 48px;}

/* ============= global component ============= */

/* button */
.btn {
    padding: 1rem 1.5rem;
    background-color: var(--blue);
    color: #fff;
    font-size: 1rem;
    border-radius: 50px;
    display: inline-flex;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--brightBlue);
    color: #fff;
}

/* tags */
.tag {
    font-size: 12px;
    font-weight: 400;
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 20px;
    background-color: var(--grey);
}

/* Home-card */
.card-container {
    border-radius: 20px;
    background-color: #fff;
    outline: 1px solid #43434326;
    transition: all 0.3s ease-in-out;
}

.card-container:hover {
    box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.063);
    background-color: #fff;
}

.image-cover img {
    border-radius: 20px 20px 0 0;
    height: 278px;
    object-fit: cover;
}

.card-content {
    padding: 16px 24px;
}


/* =======================================
                Media Query 
   =======================================*/

/*  ========= Tablet Size =========  */
@media only screen and (min-width: 769px) {


    /* Layout - grid */
    .col-1-md { grid-column: span 1; }
    .col-2-md { grid-column: span 2; }
    .col-3-md { grid-column: span 3; }
    .col-4-md { grid-column: span 4; }
    .col-5-md { grid-column: span 5; }
    .col-6-md { grid-column: span 6; }
    .col-7-md { grid-column: span 7; }
    .col-8-md { grid-column: span 8; }
    .col-9-md { grid-column: span 9; }
    .col-10-md { grid-column: span 10; }
    .col-11-md { grid-column: span 11; }
    .col-12-md { grid-column: span 12; }

    .is-flex {
        display: flex;
    }

} 


/*  ========= Desktop Size =========  */
@media only screen and (min-width: 1080px) {

/* Layout */
.col-1-lg { grid-column: span 1; }
.col-2-lg { grid-column: span 2; }
.col-3-lg { grid-column: span 3; }
.col-4-lg { grid-column: span 4; }
.col-5-lg { grid-column: span 5; }
.col-6-lg { grid-column: span 6; }
.col-7-lg { grid-column: span 7; }
.col-8-lg { grid-column: span 8; }
.col-9-lg { grid-column: span 9; }
.col-10-lg { grid-column: span 10; }
.col-11-lg { grid-column: span 11; }
.col-12-lg { grid-column: span 12; }

.container {
    max-width: 61.25rem;
}

} 
